body {
    width: 1920px;
}

.header-modal {
    width: 1920px;
    max-width: 1920px;
    border: none;
    top: -17px;
    margin: 0;

}

.header-modal div {
    border-radius: 0 !important;
    max-height: 300px;
}


.popover .popover-arrow {
    display: none;
}

.popover {
    position:absolute !important;
    left:38.5% !important;
    top:15.5% !important;
    transform: translate3d(0,0,0)!important;
    border-color: lightgray;
    border-width: 1px;
}

.modalGuide {
    max-width: 600px;
}

.btn-nav {
    color: black;
    border: 1px solid lightslategray;
}

.btn-nav:hover {
    background-color: transparent;
    color: black;
    border: 1px solid lightslategray;
}

input:focus#chooseSpot {
    outline:none;
    /*caret-color: transparent;*/
}

input:focus#checkIn {
    outline:none;
    caret-color: transparent;
}

input:focus#checkOut {
    outline:none;
    caret-color: transparent;
}

input:focus#addGuest {
    outline:none;
    caret-color: transparent;
}