.HouseInfo{
    display: grid;
    justify-content: center;
}
.BasicInfoFrame{
    width: 900px;
}

.ImgUpLine1{
    font-weight: bold;
    font-size: 20px;
}

.ImgUpImg1{
    width:210px;
    height: 140px;
    border-radius: 6px 6px 6px 6px;
    margin-right: 5px
}

.ImgUpImg2{

    width:210px;
    height: 140px;
    border-radius: 6px 6px 6px 6px;
    border: white;
}

.BasicInfoBtn{
    text-decoration:underline;
    border: white;
    font-size: 13px;
}

.BasicInfoBtn2{
    font-size: 15px;
    border: white;
}

.BasicInfoBtn3{
    width: 78px;
    font-size: 13px;
    font-weight: bold;
}

.BasicInfoBtn4{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 21px;
    color: gray;
    border-style:solid;
    border-width: 1px;
    border-color: #2E2E2E;
}

.BasicInfoBtn4:active{
    font-size: 15px;
}

.HNameFrame1{
    display: grid;
    grid-template-columns:800px 100px ;
    grid-template-rows: 30px 30px;
}

.HNameFrame2{
    display: grid;
    grid-template-columns:800px 100px ;
}

.HNameFrame3{
    display: grid;
    grid-template-columns:800px 100px ;
    grid-template-rows: 30px 30px;
}

.HNameFrame4{
    display: grid;
    grid-template-columns:750px 50px 50px 50px;
    margin-top: 10px;
}

.HNameFrame5{
    display: grid;
    grid-template-columns:800px 100px ;
    grid-template-rows: 30px 20px 20px;
    margin-top: 30px;
}

.HNameFrame6{
    display: grid;
    grid-template-columns:800px 100px ;
    grid-template-rows: 30px 20px 20px 20px;
}

.HNameFrame7{
    display: grid;
    grid-template-columns:800px 100px ;
    grid-template-rows: 30px 20px 20px 20px;
}

.HNameFrame8{
    display: grid;
    grid-template-columns:800px 100px ;
    grid-template-rows: 30px
}


.AmenityFrame1{
    display: grid;
    grid-template-columns:800px 100px ;
}

.AmenityFrame2{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-auto-rows: 30px;
}




.HNameLine1{
    font-size: 16px;
    font-weight: bold;
}

.HNameLine2{
    font-size: 13px;
    color: gray;
}

.HNameLine3{
    font-size: 14px;
    color: gray;
}

.HNameLine4{
    font-size: 17px;
    font-weight: bold;
}



.HNameForm{
    width: 500px;
    height: 45px;
}

.HNameForm2{
    width: 390px;
    height: 50px;
}

.HNameForm3{
    width: 800px;
    height: 50px;
}

.HNameForm4{
    width: 800px;
    height: 65px;
}
.BasicTitle{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 25px;
}

.AddFormFrameBox{
    display: grid;
    grid-template-rows:  35px 60px 50px 35px 60px 50px 35px 70px 50px 35px 60px 50px;
    grid-template-columns: repeat(2,500px);
}

.LocationLine1{
    font-size: 12px;
    color: gray;
}


.ConceptBtn{
    background-color: white;
    color: black;
    width: 350px;
    height: 50px;
    text-align: start;
    border-radius: 6px;
    font-size: 20px;
    border-style: solid;
    border-color: darkgray;
    /*display: grid;*/
    /*grid-template-columns: 800px 10px;*/
    /*align-content: center;*/
}

.ConceptBtn:hover{
    border-style: solid;
    border-color: dimgrey;
}

.ConceptOpt{
    font-size: 18px;
}

.HDropdown{
    margin-bottom: 35px;
}

.BNRroomLine1{
    font-size: 15px;
    font-weight: bold;
}

.BNRroomLine2{
    text-align: center;
    position: relative;
    top: 2px;
    font-size:16px;
}


.BNRroomBtn{
    width: 27px;
    height: 27px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 16px;
    color: gray;
    border-style:solid;
    border-width: 1px;
    border-color: #2E2E2E;
}

.BNRroomBtn:active{
    font-size: 12px;
    position: relative;
    /*color: white;*/
    /*background-color: black;*/
}





.AmenityFrameBox{
    display: grid;
    grid-template-columns: 835px 40px;
    grid-template-rows: 50px repeat(9, 40px);
    margin-bottom: 60px;
    gap: 9px;
}

.AmenityFrameBox2{
    display: grid;
    grid-template-columns: 835px 40px;
    grid-template-rows: 50px repeat(3, 40px);
    margin-bottom: 60px;
    gap: 9px;

}

.AmenityFrameBox3{
    display: grid;
    grid-template-columns: 835px 40px;
    grid-template-rows: 50px repeat(2, 40px);
    margin-bottom: 60px;
    gap: 9px;


}

.AmenityFrameBox4{
    display: grid;
    grid-template-columns: 835px 40px;
    grid-template-rows: 50px repeat(4, 40px);
    margin-bottom: 60px;
    gap: 9px;


}

.AmenityFrameBox5{
    display: grid;
    grid-template-columns: 835px 40px;
    grid-template-rows: 50px repeat(5, 40px);
    margin-bottom: 60px;
    gap: 9px;


}

.AmenityFrameBox6{
    display: grid;
    grid-template-columns: 835px 40px;
    grid-template-rows: 50px repeat(5, 40px);
    margin-bottom: 30px;
    gap: 9px;


}

.AmenityBox{
    grid-column: 1/3;
    font-weight: bold;
    font-size: 17px;
}

.AmenityTitle{
    font-size: 15px;
    position: relative;
    margin-top: 10px;
}


.lodgingName{
    width: 500px;
    height: 45px;
}
/*#toggle-check{*/
/*    border-radius: 30px;*/
/*}*/