.LodgingLine{
    display: grid;
    align-items: center;
    grid-template-columns:  50px 480px 150px 70px 70px 70px 200px 200px;
    grid-template-rows: 40px;
}

.PassState{
    border-radius: 7px;
    /*border-style: solid;*/
    /*border-color: #0d6efd;*/
    background-color: black;
}
