.w1200 {
    width: 1200px;
}
a {
    text-decoration: none;
    color: #2E2E2E;
}

a:hover {
    color: #3f73d2;
}

.blueColor {
    color: #3f73d2;
}

/*.MyFrame{*/
/*    display: grid;*/
/*    grid-template-columns: repeat(3, minmax(auto, auto));*/
/*}*/
.pswFrame{
    display: grid;
    grid-template-columns: 90px 500px;
}

.testFrame{
    width: -moz-fit-content;
    width: fit-content;
}

#text{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.2;
    height: 3.6em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3 ;
    -webkit-box-orient: vertical;
}